* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  color: #fff;
}

.container {
  background-color: #272727;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  
}