#sidebar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.range {
  rotate: 90deg;
}

.mt-2 {
  margin-top: 20px;
}

#sidebar button {
  width: 100%;
  padding:5px 10px;
}

#sidebar input[type='number'] {
  text-align: center;
}

@media screen and (max-width: 768px) {
  #sidebar{
    flex-direction: row;
    gap: 5px;
    justify-content: center;
  }
  #sidebar button {
    max-width: 60px;
    border-radius: 5px;
  }
  .mt-2{
    margin-top: 0;
  }
  #sidebar input[type='number'] {
    height: 100%;
    
    border-radius: 5px;
  }
}

.btn {
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.btn .icon {
  max-width: 25px;

}